* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
}

body {
  background-color: #73737e;
  position: relative;
  overflow: hidden;
  color: #e97e1c;
}

h1, h2, h3 {
  font-family: 'Righteous', cursive;
  text-shadow: 2px 2px #170e10;
  text-align: center;
}
.page-container {
  height: 100vh;
}


.container {
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
}

.game-container {
  padding: 2% 12%;
  display: flex;
}

.score-title {
   font-size: 4rem;
   letter-spacing: 10px;
   padding: 8% 0 4%;
}

.refresh-title {
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 1% 1%;
  visibility: hidden;
}

.player-heading {
  font-size: 3rem;
  letter-spacing: 4px;
  padding-bottom: 8%;
}

.player1, .player2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-dice {
  animation-name: throwingAnimation;
  animation-timing-function: linear;
  animation-duration: 2.5s;
  border: 10px solid #9dd7ce;
  border-radius: 17%;
  width: 250px;
}

@keyframes throwingAnimation {
  15% {
    transform: rotate(-35deg);
    /* transform: translate(-5px, -2px); */
  }
  30% {
    transform: rotate(35deg);
    /* transform: translate(5px, 2px); */
  }
  45% {
    transform: rotate(-35deg);
    /* transform: translate(-5px, -2px); */
  }
  60% {
    transform: rotate(35deg);
    /* transform: translate(5px, 2px); */
  }
  75% {
    transform: rotate(-35deg);
    transform: scale(1.5);
  }

}

.art {
  position: absolute;
  width: 400px;
}

.image-city {
  bottom:-30px;
  right:0;
}

.image-mouse {
  top:-40px;
  right: -120px;
  border-radius: 50%;
  z-index: -1;
}

.image-floppy {
  bottom: -70px;
  left: -70px;
  border-radius: 50%;
  transform: rotate(-30deg);
}

.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.footer-attribute {
  display: inline-block;
  padding: 0 1rem;
}

.footer-link {
  color: #9dd7ce;
  font-weight: 600;
}


@media(max-width: 1080px){


  .image-mouse {
    opacity: 0.2;
  }

}

@media(max-width: 800px){

  .score-title {
    font-size: 3rem;
    padding: 8% 0 8%;
  }

  .player-heading {
    font-size: 2.25rem;
  }

  .refresh-title {
    font-size:1.25;
  }

  .image-dice {
    width: 180px;
  }
}

@media(max-width: 630px){

  .score-title {
    font-size: 2.4rem;
  }

  .player-heading {
    font-size: 1.8rem;
  }

  .refresh-title {
    font-size:1rem;
  }

  .image-dice {
    width: 144px;
  }

  .image-mouse {
    right: -80px;
    width: 300px;
  }

  .image-city, .image-floppy {
    width: 250px;
    bottom: 0;
  }
}

@media(max-width: 400px){

  .image-dice {
    width: 100px;
  }

  .image-city {
    width: 200px;
    opacity: 0.2;
    bottom: 30px;
  }
  .footer * {
    font-size: 0.7rem;
  }
}
